* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 10px 0;
  font-size: 12px;
}
.home-icon {
  color: #4c5251;
}
.star,
.shop {
  color: #9eadab;
}

.left-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 15%;
}
.right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 23%;
}
.right-menu button {
  background-color: #2fdab8;
  border-radius: 14px;
  padding: 6px 17px;
  border: none;
  color: #fff;
}

.middle-menu .play-icon {
  color: #2fdab8;
  font-size: 25px;
}
.topnav input {
  border-radius: 30px;

  width: 200px;
  background-color: #f3f3f3;
  border: none;
}
.topnav input[type="text"] {
  padding: 5px 30px;
}
.topnav {
  position: relative;
}
.topnav .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #807979;
}

/* Hero section */
.hero {
  width: 100%;
  background-color: #96f8e3;
  height: 30%;
  display: flex;
  align-items: center;
}

.hero-wrapper {
  text-align: center;
  width: 50%;
  margin: auto;
}
.hero h3 {
  border-bottom: 1px solid #a8beba;
  font-weight: 400;
  padding: 20px;
  font-size: 1.8rem;
  color: #71817e;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  color: #819592;
}
.hero-text span {
  font-weight: 600;
}
.hero-content .hero-text:nth-child(2) {
  border-right: 1px solid #a8beba;
  border-left: 1px solid #a8beba;
}
.hero-content .hero-text {
  padding: 19px;
  width: 100% !important;
}

/* product */

.product-title {
  text-align: left;
  display: flex;
  color: #5f6e6c;
  align-items: center;
}
.product-title p {
  padding: 30px;
}
.product-title p:nth-child(-n + 1) {
  font-weight: bold;
}

.product-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 350px;
  width: 350px;
  background-color: #ffffff;
  color: #8ca19d;

  margin: 20px;
}

.price {
  align-self: flex-start;
  background-color: #2fdab8;
  padding: 15px 20px;
  color: #fff;
  font-weight: 800;
}

.product {
  align-self: center;
  height: 180px;
  width: 180px;
}

.profiles {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.product-card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.products {
  width: 85%;
  margin: auto;
}
.main-overlay {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  transition: 0.5s ease;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.title-overlay {
  font-weight: 500;
}
.main-overlay:hover .overlay {
  height: 100%;
}
.main-overlay:hover .child {
  filter: blur(1px);
  opacity: 0.3;
}

/* Responsive */

@media (max-width: 1400px) {
  .right-menu {
    flex-basis: 30%;
  }
}
@media (max-width: 1200px) {
  .left-menu {
    flex-basis: 20%;
  }
}
@media (max-width: 992px) {
  .topnav,
  .right-menu p {
    display: none;
  }
  .right-menu {
    justify-content: center;
  }
  .left-menu {
    flex-basis: 38%;
  }
}
@media (max-width: 768px) {
  .middle-menu {
    display: none;
  }
}
@media (max-width: 576px) {
  .left-menu .star-p,
  .left-menu .shop-p {
    display: none;
  }
  .hero-wrapper h3 {
    font-size: 1.2rem;
  }
  .hero-wrapper {
    width: 100% !important;
  }
  .product-title p {
    padding: 20px 8px;
  }
  .product-card {
    width: 100%;
    flex-basis: auto;
  }
  .price {
    padding: 10px 10px;
  }
  .profile-pic {
    width: 30px;
    height: 30px;
  }
  .product {
    width: 150px;
  }
  .products {
    width: 87%;
  }
}
@media (min-width: 576px) {
}
